.navigation{
    /* display: flex;
    justify-content: center;
    text-align: center; */
    /* text-decoration: none; */
    /* border:2px solid red; */
    right: 50px;
text-decoration: none;
    }
    .navgigation img{
        display: flex;
        justify-content: left;
        text-align: left;
        text-decoration: none;
    }
    .navgigation li{
        padding: 4px 500px; 
    }
    
    #shopgift{
        color: black;
        text-decoration: black;
        float: right;
        padding: 30px 10px;
    }
    #caricature{
        color: black;
    float: right;
    float: inline;
    padding: 30px 10px;
    text-decoration: none;
    
    
    }
    #cart{
        float: right;
    padding: 30px 20px
    }
    #contact{
    float: right;
    padding: 30px 20px;
        
    }
    .search{
        position: absolute;
        margin: 20px;
        transform: translate(-50%,-50%);
        background:white;
        height: 40px;
        border-radius: 40px;
        padding: 10px 40px ;
       left: 700px;
       top: 49px;
    }
    .search-btn{
        color: white;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: black;
        display:flex ;
        justify-content: center;
        align-items: center;
        /* transition: 0.4s;  */
    }  
    .search:hover > .search-txt{
     width: 240px;
    padding: 0px 6px; 
    
    }  
    .search:hover > .search-btn{
        background-color: black;
    }
    #searchtext{
        color: black;
    }
     .search-txt{
        border:none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: black;
        font-size: 16px;
        transition: 0.4s ;
        line-height: 40px;
        width: 0px;
        transition: .5s;
    }
    .container{
        margin-top: 1vh;
     background: url('/Group\ 36.png');
      height: 140vh;
    }
    .container h1{
        margin: 0px;
        margin-top: 1vh;
        padding: 5px 50px;
        font-size: 2.5rem;
    }
    .container h2{
        padding: 5px 40px;
        font-size: 2.5rem;
    }
    .container p{
        margin: 30px;
    }
    .btn{
        background: black;
        color: blanchedalmond;
        padding: -1px;
        margin-left: 70px;
    }
    .btn :hover{
        cursor: pointer;

    }
    .work{
      margin: 50px;
       display: flex;
        justify-content: left;
        text-align: left;
        text-decoration: none;
       
    }
    .heading {
        font-size: 40px;
        padding: 0px 50px;
        display: flex;
        justify-content: center;
    }
    #gift{
       
     padding: 0px 50px;
     margin: 40px;
     /* width: 200px;
     height: 200px; */
    }
    #hand{
        
        padding: 0px 50px;
        margin: 40px;
    }
    #packed{
       
        padding: 0px 50px;
        margin: 40px;
    }
    .work-heading{
        /* display: flex;
        padding:0px 50px ;
        font-size: 20px;
        display: row;
        position: relative; */
        margin: 50px;
        display: flex;
         justify-content: left;
         text-align: left;
         text-decoration: none;
         
    }
    #work-headingh1{
        padding: 0px 100px;
        margin: 19px;
        margin-top: -60px;
    
    }
    #work-headingh2{
        padding: 0px 140px;
        margin: 0px;
        margin-top: -60px;
    }
    #work-headingh3{
        padding: 0px 140px;
        margin: 0px;
        margin-top: -60px;
    }
    .work-para{
        margin: 50px;
        display: flex;
         justify-content: left;
         text-align: left;
         text-decoration: none;
    }
    #para-heading1{
        float: left;
    }
    #para-heading2{
        float: center;
    }
    #para-heading3{
        float:right
    }
    .shop{
        display: flex;
        justify-content: center;
    }
    .shop-img{
     display: flex;
     padding: 0px 40px;
    }
    #img-1{

width: 400px;
height: 400px;
background: rgb(190, 228, 229);
margin-left: 120px;
    }
    #img-2{
       
        width: 400px;
        height: 400px;
        background: pink;
        margin: 0px 180px;
        margin-left: 120px;
    }
    .shopheading{
        display: flex;
        margin: 40px;
    }
    #virtual{
        margin: 0px 85px;
    padding: 0px 162px;
    
    }
    #scrap{
        margin: 0px 140px;
        padding: 0px -6px;
    }
    .shop-para{
        display: flex;
        padding: 0px 50px;
    }
    .shop-para p{
        margin: -12px 40px;
        padding: 0px 84px;
    }
    #get{
        margin: -25px -52px;
        padding: 0px 40px;
    }
    
    #btn1{
        margin: 27px 270px;
        border: chocolate;
        color: cornsilk;
        background-color: black;
    }
    #btn2{
        margin: 0px 150px;
        margin-top: -50px;
        color: cornsilk;
        background-color: black;
    }

    .earth{
        
        
        /* height: 118vh;
        width:100% ; */
        margin: 0px; 
        background-color: rgb(132, 218, 218);
        opacity: 0.8;
         
    }
    .earth h1{
        position: relative;
        float: right;
        margin-right: 15vh;
        margin-top: 5vh;
    }
    .earth p{
       
        font-size: 1.5rem;
        
    }
    #deeku{
        height: 100%;
        width: 60%;
    }
    #earth-button{
       
        background-color: black;
        color: blanchedalmond;
        padding: 0px 3px;
        
    }
    
    .t{
        display: flex;
    }
    .customer{
        background-color: #FBFFD4;
        margin: 78px 0px;
    }
    
    .customer h4{
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 30PX;
    }
    .customer img{
        
       padding: 0px 590px;
    }
    #such{
      padding: 0px 370px;
      margin: 0px 50px;
      
    }
     .customer-count{
      
      background: #F9CAC2;
      
      

    }
     .customer-count li{
        margin: 0px 09px ;
        padding: 0px  6px;
      
    } 
    .customer-count h1{
        color: aliceblue;
        font-size: 3rem;
        padding: 0px 36px;
    margin: -1px 950px;
        
       }
       .customer-count h2{
           margin-top: -10px;
           font-size: 3rem;
           float: right;
       }
       .customer-count line{
           color: white;
       }
   /* #g{
     padding: 0px  60px ;
     margin: 30px 50px;
     
   }
   #f{
    padding: 0px  60px ;
    margin: 30px 50px;
   
   }
   #h{
    padding: 0px  60px ;
    margin: 30px 50px;
   
   }
   #a{
    padding: 0px  60px ;
    margin: 30px 50px;
   }
   #b{
    padding: 0px  60px ;
    margin: 30px 50px;
   
   }
   #c{
    padding: 0px  60px ;
    margin: 30px 50px;
   
   } */  